<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <AW_Dev>
            <version>1.0</version>
        </AW_Dev>
    </modules>
    <global>
        <blocks>
            <awdev>
                <class>AW_Dev_Block</class>
            </awdev>
        </blocks>
        <helpers>
            <awdev>
                <class>AW_Dev_Helper</class>
            </awdev>
        </helpers>
        <models>
            <awdev>
                <class>AW_Dev_Model</class>
            </awdev>
        </models>
    </global>
    <adminhtml>
        <events>
            <!--<controller_action_predispatch>-->
                <!--<observers>-->
                    <!--<awdev_observer>-->
                        <!--<type>singleton</type>-->
                        <!--<class>awdev/observers</class>-->
                        <!--<method>observePredispatch</method>-->
                    <!--</awdev_observer>-->
                <!--</observers>-->
            <!--</controller_action_predispatch>-->
        </events>
    </adminhtml>
    <frontend>
        <routers>
            <awdev>
                <use>standard</use>
                <args>
                    <module>AW_Dev</module>
                    <frontName>awdev</frontName>
                </args>
            </awdev>
        </routers>
    </frontend>
</config>
